__pycache__/
*.pyc
*.egg-info/
dist/
build/
.eggs/
*.so
.venv/
.env
assets/mjcf/*
!assets/mjcf/dexhand021_right/
!assets/mjcf/dexhand021_right/**
!assets/mjcf/dexhand021_left/
!assets/mjcf/dexhand021_left/**
!assets/mjcf/revo2_right/
!assets/mjcf/revo2_right/**
!assets/mjcf/revo2_left/
!assets/mjcf/revo2_left/**
!assets/mjcf/wujihand_right/
!assets/mjcf/wujihand_right/**
!assets/mjcf/wujihand_left/
!assets/mjcf/wujihand_left/**
*.pickle
.claude/
.codex
MUJOCO_LOG.TXT
third_party/
recordings/*.mp4
recordings/.*.mp4
